<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wisdom.project">

    <!-- Required -->
    <uses-permission android:name="您应用的包名.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:name="com.wisdom.AppApplication"
            android:allowBackup="true"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:persistent="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <receiver
                android:name=".base.BoardcastReceiver"
                android:enabled="true">
            <intent-filter> <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/><!--开机广播-->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/><!--网络状态改变广播-->
                <category android:name="com.wisdom.project"/>
            </intent-filter>
        </receiver>


        <activity android:name="com.wisdom.project.homepage.activity.HomePageActivity">

        </activity>
        <!--登录页面-->
        <activity
                android:name="com.wisdom.project.login.activity.LoginActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--注册-->
        <activity
                android:name=".login.activity.RegisterActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme"/>
        <!--找回密码界面-->
        <activity
                android:name=".login.activity.FindPswActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme"/>
        <!--个人信息页面-->
        <activity
                android:name=".homepage.activity.PersonalInfoActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme"/>
        <!--修改昵称-->
        <activity
                android:name=".homepage.activity.AlterNickNameActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme"/>
        <!--修改激活码-->
        <activity
                android:name=".homepage.activity.AlterActiveCodeActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme"/>
        <!--适配相册的provider-->
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.wisdom.project.myprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_xml"/>
        </provider>
    </application>

</manifest>